
.icon-work:before { content: '\e80c'; } /* '' */
.icon-dialog:before { content: '\e80d'; } /* '' */
.icon-project:before { content: '\e80f'; } /* '' */
.icon-book:before { content: '\e810'; } /* '' */
.icon-school:before { content: '\e811'; } /* '' */
.icon-tool:before { content: '\e812'; } /* '' */
.icon-email:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-presentation:before { content: '\e816'; } /* '' */